.edu-exp{
    background: var(--color-card);
}

.edu-exp-container{
    display: flex;
    flex-direction: column;
    margin: 0 250px;
    padding: 60px 0;
}

.edu-exp-title{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.edu-exp-title h1{
    font-weight: 700;
    font-size: 24px;
}
.edu-exp-title #icon{
    color: var(--color-highlight);
}
.edu-exp-title p{
    font-weight: 600;
    font-size: 40px;
}
.edu-exp-title #edu-exp-txt{
    font-weight: 500;
    font-style: italic;
    color: var(--color-highlight);
}

.edu-exp-detail{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 40px 0;
}

.section{
    flex-basis: 50%;
    background:var(--color-primary);
    border-radius: 8px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title{
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 20px 0;
    
}

.title h1{
    color: var(--color-text);
    font-weight: 400;
    font-size: 40px;
}

.title i{
    color: var(--color-text);
    font-size: 24px;
    padding: 12px 10px;
    border-radius: 50%;
    background: var(--color-highlight);
}
#underline{
    width: 100%;
    outline: none;
    border: none;
    height: 1px;
    background: rgb(200, 192, 192);
}
.format{
    display: flex;
    padding: 14px 0;
    gap: 10px;
}

.format #sideline{
    width: 3px;
    background: rgb(200, 192, 192);
    outline: none;
    border: none;
    border-radius: 1px;
}
.format h1{
    font-size: 24px;
    font-weight: 500;
}

.format p{
    font-size: 18px;
    color:  rgb(135, 127, 127);
}

.format a{
    text-decoration: none;
}

@media(max-width:768px){

    .edu-exp-container{
        align-items: center;    
        margin: 0 50px;
        padding: 60px 0;

    }
    
    .edu-exp-title h1{
        font-weight: 700;
        font-size: 20px;
    }
    
    .edu-exp-title p{
        font-weight: 600;
        font-size: 32px;
    }
    
    .edu-exp-detail{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        padding: 40px 0;
    }
    
    .section{
        background:var(--color-primary);
        border-radius: 8px;
        padding: 20px 30px;
        display: flex;
        flex-direction: column;
    }
    
    .title{
        align-items: center;
        display: flex;
        gap: 10px;
        padding: 4px 0;
    }
    
    .title h1{
        color: var(--color-text);
        font-weight: 400;
        font-size: 32px;
    }
    
    .title i{
        color: var(--color-text);
        font-size: 20px;
        padding: 12px 10px;
        border-radius: 50%;
        background: var(--color-highlight);
    }
  
    .format h1{
        font-size: 20px;
        font-weight: 500;
    }
    
    .format p{
        font-size: 16px;
        color:  rgb(135, 127, 127);
    }
    
}

@media(min-width:768px) and (max-width:1260px){

    .edu-exp-container{
        margin: 0 50px;
    }
    

    .edu-exp-title h1{
        font-weight: 700;
        font-size: 20px;
    }
    .edu-exp-title #icon{
        color: var(--color-highlight);
    }
    .edu-exp-title p{
        font-weight: 600;
        font-size: 32px;
    }

    .edu-exp-detail{
        gap: 20px;
    }
    
    .title h1{
        font-size: 32px;
    }
    
    .title i{
        font-size: 20px;
    }
    
    .format h1{
        font-size: 20px;

    }
    
    .format p{
        font-size: 16px;

    }
    
    
}