.edu-exp{
    background: var(--color-card);
}

.edu-exp-container{
    display: flex;
    flex-direction: column;
    margin: 0 var(--margin-xxxl);  
    padding: var(--padding-xl) 0;
}

.edu-exp-title{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.edu-exp-title h1{
    color: var(--color-text);
    font-weight: var(--fw-bold);
    font-size: var(--fs-medium-lg);
}
.edu-exp-title #icon{
    color: var(--color-highlight);
}

.edu-exp-title p{
    font-weight: var(--fw-bold);
    font-size: var(--fs-large-xl);
}
.edu-exp-title #edu-exp-txt{
    font-style: italic;
    color: var(--color-highlight);
    font-weight: var(--fw-medium);
}

.edu-exp-detail{
    display: flex;
    gap: var(--gap-md);
    justify-content: center;
    padding: var(--padding-lg) 0;
}

.section{
    flex-basis: 35%;
    background:var(--color-primary);
    border-radius: var(--bd-radius-sm);
    padding: var(--padding-lg) var(--padding-lg);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title{
    align-items: center;
    display: flex;
    gap: var(--gap-xs);
}

.title h1{
    background: linear-gradient(270deg, var(--color-highlight) 20%, var(--color-secondary) 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: var(--fw-bold);
    font-size: var(--fs-medium-lg);
}

.title i{
    color: var(--color-primary);
    font-size: var(--fs-medium-md);
    padding: var(--padding-sm);
    border-radius: var(--logo-radius);
    background: var(--color-secondary);
}
#underline{
    outline: none;
    border: none;
    height: 2px;
    background: rgb(200, 192, 192);
}
.format{
    display: flex;
    padding: var(--padding-xs) 0;
    gap: var(--gap-sm);
}

.format #sideline{
    width: 3px;
    background: rgb(200, 192, 192);
    outline: none;
    border: none;
    border-radius: 1px;
}
.format h2{
    font-size: var(--fs-medium-md);
    font-weight: var(--fw-bold);
    background: linear-gradient(270deg, var(--color-highlight) 20%, var(--color-secondary) 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.format p{
    font-size: var(--fs-medium-sm);
    color: var(--color-text-highlight) ;
}

.format a{
    text-decoration: none;
}

@media(min-width:1048px) and (max-width:1260px){

    .edu-exp-container{
        margin: 0 var(--margin-lg);  
        padding: var(--padding-xl) 0;
    } 
    
}

@media(min-width:900px) and (max-width:1048px){

    .edu-exp-container{
        margin: 0 var(--margin-lg);  
        padding: var(--padding-lg) 0;
    } 
    
    .edu-exp-title h1{
        font-size: var(--fs-medium-md);
    }
    
    .edu-exp-title p{
        font-weight: var(--fw-bold);
        font-size: var(--fs-large-md);
    }
    
    .title h1{
        font-size: var(--fs-medium-md);
    }
    
    .title i{
        font-size: var(--fs-medium-sm);
    }


    .format h2{
        font-size: var(--fs-medium-sm);
    }
    
    .format p{
        font-size: var(--fs-small-lg);
      
    }
    
}

@media(min-width:700px) and (max-width:900px){

    .edu-exp-container{
        margin: 0 var(--margin-md);  
        padding: var(--padding-lg) 0;
    } 
    
    .edu-exp-title h1{
        font-size: var(--fs-medium-md);
    }
    
    .edu-exp-title p{
        font-weight: var(--fw-bold);
        font-size: var(--fs-large-md);
    }
    
    .title h1{
        font-size: var(--fs-medium-md);
    }
    
    .title i{
        font-size: var(--fs-medium-sm);
    }

    .format h2{
        font-size: var(--fs-medium-sm);
    }
    
    .format p{
        font-size: var(--fs-small-lg);
    }
    
}


@media(max-width:700px){

    .edu-exp-container{
        margin: 0 var(--margin-md);
    }
    
    .edu-exp-detail{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }
    
    .edu-exp-title h1{
        font-size: var(--fs-medium-md);
    }
    
    .edu-exp-title p{
        font-weight: var(--fw-bold);
        font-size: var(--fs-large-md);
    }
    
    .title h1{
        font-size: var(--fs-medium-md);
    }
    
    .title i{
        font-size: var(--fs-medium-sm);
    }

    .format h2{
        font-size: var(--fs-medium-sm);
    }
    
    .format p{
        font-size: var(--fs-small-lg);
    }
    
    
}


