.project{
    background: var(--color-primary);
}

.project-container{
    display: flex;
    flex-direction: column;
    margin: 0 var(--margin-xxl);  
    padding: var(--padding-xl) 0;
}

.project-title h1{
    color: var(--color-text);
    font-weight: var(--fw-bold);
    font-size: var(--fs-medium-lg);
}

.project-title #icon{
    color: var(--color-highlight);
}

.project-title p{
    font-weight: var(--fw-bold);
    font-size: var(--fs-large-xl);
}
.project-title #project-txt{
    font-style: italic;
    color: var(--color-highlight);
    font-weight: var(--fw-medium);
}

.project-section {
    padding: var(--padding-lg) 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap-md);
}

.project-format{
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-card);
    padding: var(--padding-lg);
    transition: 0.4s;
    border-radius: var(--bd-radius-md);
}
.project-format img{
    border-radius: var(--bd-radius-md);
    box-sizing: border-box;
    width: 100%;
}

.project-format .genre-item{
    display: flex;
    align-items: center;
    padding: var(--padding-sm) 0;
    gap: var(--gap-xs);
}

.project-format .genre-item p{
    font-size: var(--fs-small-md);
    color: var(--color-card);
    font-weight: var(--fw-bold);
    background: var(--color-highlight);
    padding: var(--padding-xs) var(--padding-sm);
    border-radius: var(--bd-radius);
}

.project-format .brief{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-format .brief h4{
    width: 80%;
    font-weight: var(--fw-medium);
    font-size:var(--fs-medium-md);
    color: var(--color-secondary);
}

.project-format .brief .see-more{
    background: var(--color-secondary);
    border-radius: var(--logo-radius);
    padding: var(--padding-xxxs) var(--padding-xxs);
}
.project-format .brief #icon{
    filter:var(--filter-highlight);
    width: var(--margin-md);
    padding-top: 2px;
}

.project-format:hover{
    transform: scale(1.01);
    transition: 0.4s;
}

.project-format .brief #icon:hover{
    filter: brightness(0) invert(1);
}

@media(min-width:1024px) and (max-width:1260px){
    
    .project-container{
        margin: 0 var(--margin-lg);
        padding: var(--padding-xl) 0;
    }
}

@media(min-width:900px) and (max-width:1024px){
    
    .project-container{
        margin: 0 var(--margin-lg);
        padding: var(--padding-lg) 0;
    }
    .project-format{
        padding: var(--padding-md);   
    }
    .project-title h1{
        font-size: var(--fs-medium-md);
    }
    
    .project-title p{
        font-size: var(--fs-large-md);
    }
    
    .project-format .genre-item p{
        font-size: var(--fs-small-sm);
    }
    
    .project-format .brief h4{
        font-size:var(--fs-medium-sm);
    }
    
    .project-format .brief #icon{
        width: var(--margin-sm);
    }
}

@media(min-width:600px) and (max-width:900px){
    
    .project-container{
        margin: 0 var(--margin-xl);
        padding: var(--padding-lg) 0;
    }
    
    .project-title h1{
        font-size: var(--fs-medium-md);
    }
    .project-format{
        padding: var(--padding-md);   
    }
    .project-title p{
        font-size: var(--fs-large-md);
    }
    .project-section {
        grid-template-columns: 1fr;
    }
    .project-format .genre-item p{
        font-size: var(--fs-small-sm);
    }
    
    .project-format .brief h4{
        font-size:var(--fs-medium-sm);
    }
    
    .project-format .brief #icon{
        width: var(--margin-sm);
    }
}


@media(max-width:600px){
    
    .project-container{
        margin: var(--margin-md);
        padding: var(--padding-lg) 0;
    }
    
    .project-title h1{
        font-size: var(--fs-medium-md);
    }
    
    .project-title p{
        font-size: var(--fs-large-md);
    }
    .project-section {
        grid-template-columns: 1fr;

}

.project-format .genre-item p{
        font-size: var(--fs-xs);
}

.project-format{
    padding: var(--padding-md);   
}
.project-format .brief h4{
        font-size:var(--fs-medium-sm);
}
    
.project-format .brief #icon{
        width: var(--margin-sm);
}
    
}
