.project{
    background: var(--color-primary);
}

.project-container{
    display: flex;
    flex-direction: column;
    margin: 0 150px;
    padding: 60px 0;
}

.project-title h1{
    color: var(--color-text);
    font-weight: 700;
    font-size: 24px;
}

.project-title #icon{
    color: var(--color-highlight);
}
.project-title p{
    font-weight: 600;
    font-size: 40px;
}
.project-title #project-txt{
    font-weight: 500;
    font-style: italic;
    color: var(--color-highlight);
}

.project-section {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.project-format{
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-card);
    padding: 20px;
    transition: 0.4s;
    border-radius: 10px;
}
.project-format img{
    box-sizing: border-box;
    width: 100%;
}

.project-format .genre-item{
    display: flex;
    align-items: center;
    padding: 8px 0;
    gap: 6px;
}

.project-format .genre-item p{
    font-size: 16px;
    font-weight: 600;
    background: var(--color-highlight);
    padding: 6px 14px;
    border-radius: 50px;
}

.project-format .brief{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-format .brief h4{
    width: 80%;
    font-weight: 700;
    font-size: 24px;
}

.project-format .brief .see-more{
    background: var(--color-secondary);
    border-radius: 50%;
    padding: 4px 6px;
}
.project-format .brief #icon{
    filter: invert(87%) sepia(18%) saturate(630%) hue-rotate(195deg) brightness(96%) contrast(93%);
    width: 22px;
    padding-top: 2px;
}

.project-format:hover{
    transform: scale(1.01);
    transition: 0.4s;
}

.project-format .brief #icon:hover{
    filter: brightness(0) invert(1);
}

.project-format p:hover{
    color: var(--color-primary);
}

@media(max-width:600px){
    
    .project-container{
        margin: 0 30px;
    }
    
    .project-title h1{
        font-size: 20px;
    }
    
    .project-title p{
        font-size: 32px;
    }

    .project-section {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .project-format .genre-item{
        padding: 8px 0;
        gap: 4px;
    }
    
    .project-format .genre-item p{
        font-size: 14px;
        padding: 6px 10px;

    }
    
    .project-format .brief h4{
        font-size: 16px;
    }
    
}

@media(min-width:600px) and (max-width:768px){
    
    .project-container{
        margin: 0 50px;
    }
    
    .project-title h1{
        font-size: 20px;
    }
    
    .project-title p{

        font-size: 32px;
    }

    .project-section {
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .project-format .brief h4{
        font-size: 20px;
    }
    
}
@media(min-width:768px) and (max-width:1260px){
    
    .project-container{
        margin: 0 50px;
    }
    
    .project-title h1{
        font-size: 20px;
    }
    
    .project-title p{
        font-size: 32px;
    }

    .project-section {
        padding: 40px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    
    .project-format .brief h4{
        font-size: 20px;
    }
    
}