.profile{
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: var(--margin-md) var(--margin-xxl);  
    padding: var(--padding-sm) 0;
}
.profile-brief{
    padding: var(--padding-sm) 0;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.decorated-text-box .hello{
    color: var(--color-text);
    font-weight: var(--fw-medium);
    padding: var(--padding-xxs) var(--padding-sm);
    font-size: var(--fs-medium-md);
    border: solid 2px;
    border-color: var(--color-text);
}

.decorated-text-box{
    margin-left: var(--margin-xs);
    position: relative;
    display: inline-flex;
}
.corner-block {
    position: absolute;
    width: var(--margin-sm);
    height: var(--margin-xs);
    background-color: var(--color-highlight);
    border: 2px solid var(--color-text)
  }
  
/* Rectangle version */
.top-left {
    top: var(--margin-cb-xs);
    left: var(--margin-cb-sm);
  }
  
.top-right {
    top: var(--margin-cb-xs);
    right: var(--margin-cb-sm);
}
  
.bottom-left {
    bottom: var(--margin-cb-xs);
    left: var(--margin-cb-sm);
}
  
.bottom-right {
    bottom: var(--margin-cb-xs);
    right: var(--margin-cb-sm);
}
  

.profile-brief .intro{
    padding: var(--padding-md) 0;
    font-size: var(--fs-medium-lg);
    font-weight: var(--fw-medium);
    color: var(--color-text);
    text-align: center;
}

.profile-brief .intro span{
    font-weight: var(--fw-medium);
    font-style: oblique;
    font-size: var(--fs-large-xxl);
    color: var(--color-highlight);
    position: relative;
    display: inline-block;
}

.profile-brief .intro span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom:-1px;
    width: 100%;
    height: 2px;
    background-color: var(--color-highlight);
}

.profile-action{
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
}

.profile-action .resume{
    display: flex;
    cursor: pointer;
    border-radius: var(--bd-radius);
    color: var(--color-text);
    cursor: pointer;
    background: var(--color-highlight);
    padding: var(--padding-xxxs) var(--padding-xxs);
}
.profile-action .resume #my-resume{
    font-size: var(--fs-small-md);
    font-weight: var(--fw-medium);
    padding: var(--padding-xxs) var(--padding-sm);
    cursor: pointer;
    background: var(--color-secondary);
    border-radius: var(--bd-radius);
    color: var(--color-primary);
}

.profile-action span{
    font-size: var(--fs-small-lg);
    margin-left: var(--margin-xs);
    border-radius: var(--logo-radius);
    padding: var(--padding-xxxs) var(--padding-xs);
    background: var(--color-primary);
    color: var(--color-secondary);
}

.profile-action .resume:hover{
    transform: scale(1.01);
    transition: 0.5s;
}
.profile-action .resume:hover #my-resume{
    transition: 0.5s;
    color: var(--color-highlight);
}
.profile-action .resume:hover span{
    transition: 0.5s;
    color: var(--color-highlight);
}


.profile-action .p-anchor-link{
    cursor: pointer;
    color: var(--color-secondary);
    font-weight: var(--fw-bold);
    font-size: var(--fs-small-md);
    text-decoration: none;
    position: relative;
}


.profile-action .p-anchor-link::after{
    position: absolute;
    content: '';
    left: 0;
    bottom:-1px;
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
}
.profile-action .connect:hover{
    transform: scale(1.01);
    transition: 0.5s;
}
.profile-action .connect:hover p{
    transition: 0.5s;
    color: var(--color-highlight);
}
.profile-action .connect:hover .p-anchor-link::after{
    transition: 0.5s;
    background-color: var(--color-highlight);
}
.profile-img{
    margin: var(--margin-sm) 0;
    border: 1px solid var(--color-secondary);
    background: var(--color-card);
    border-radius: var(--logo-radius);
}

.profile-img img{
    border-radius: var(--logo-radius);
    height: var(--margin-xxxl);
    width: var(--margin-xxxl);
    object-fit: cover;
    opacity: 0.9;
    mix-blend-mode: multiply;
    filter: grayscale(10%);
}

@media(min-width:900px) and (max-width:1024px){

    .profile{
        margin: var(--margin-md) var(--margin-lg);
        padding: var(--padding-xxs) var(--padding-md); 
    }
    .decorated-text-box .hello{
        font-size: var(--fs-medium-sm);
    }

    .profile-brief .intro{
        font-size: var(--fs-medium-md);
    }
    
    .profile-brief .intro span{
        font-size: var(--fs-large-xl);
    }
    .profile-action .resume #my-resume{
        font-size: var(--fs-small-sm);
    }
    
    .profile-action span{
        font-size: var(--fs-small-md);  
    }
    .profile-action .p-anchor-link{
        font-size: var(--fs-small-sm);
    }
    .profile-img{
        margin-bottom:var(--margin-md); 
    }
}

@media(min-width:768px) and (max-width:900px){

    .profile{
        margin: var(--margin-md) var(--margin-lg);
        padding: var(--padding-xxs) var(--padding-md); 
    }
    .decorated-text-box .hello{
        font-size: var(--fs-medium-sm);
    }

    .profile-brief .intro{
        font-size: var(--fs-medium-md);
    }
    
    .profile-brief .intro span{
        font-size: var(--fs-large-xl);
    }
    .profile-action .resume #my-resume{
        font-size: var(--fs-small-sm);
    }
    
    .profile-action span{
        font-size: var(--fs-small-md);  
    }
    .profile-action .p-anchor-link{
        font-size: var(--fs-small-sm);
    }
    .profile-img{
        margin-bottom:var(--margin-md); 
    }
}

@media(min-width:600px) and (max-width:768px){

    .profile{
        margin: var(--margin-md) var(--margin-lg);
        padding: var(--padding-xxs) var(--padding-md); 
    }

    .decorated-text-box .hello{
        font-size: var(--fs-medium-sm);
    }

    .profile-brief .intro{
        font-size: var(--fs-medium-md);
    }
    
    .profile-brief .intro span{
        font-size: var(--fs-large-xl);
    }
    .profile-action .resume #my-resume{
        font-size: var(--fs-small-sm);
    }
    
    .profile-action span{
        font-size: var(--fs-small-md);  
    }
    .profile-action .p-anchor-link{
        font-size: var(--fs-small-sm);
    }
    .profile-img{
        margin-bottom:var(--margin-lg); 
    }
    
}

@media(min-width:480px) and (max-width:600px){

    .profile{
        margin: var(--margin-md) var(--margin-md);
        padding: var(--padding-xxs) var(--padding-md); 
    }

    .decorated-text-box .hello{
        font-size: var(--fs-small-md);
    }

     .decorated-text-box .hello{
        font-size: var(--fs-medium-sm);
    }

    .profile-brief .intro{
        font-size: var(--fs-medium-md);
    }
    
    .profile-brief .intro span{
        font-size: var(--fs-large-lg);
    }
    .profile-action .resume #my-resume{
        font-size: var(--fs-small-sm);
    }
    
    .profile-action span{
        font-size: var(--fs-small-md);  
    }
    .profile-action .p-anchor-link{
        font-size: var(--fs-small-sm);
    }
    .profile-img{
        margin: var(--margin-sm) 0;
        border: 1px solid var(--color-secondary);
        background: var(--color-card);
        border-radius: var(--logo-radius);
    }
    
    .profile-img img{
        border-radius: var(--logo-radius);
        height: var(--margin-xxxl);
        width: var(--margin-xxxl);
        object-fit: cover;
        opacity: 0.9;
        mix-blend-mode: multiply;
        filter: grayscale(10%);
    }
}

@media(max-width:480px){

    .profile{
        margin: 0 var(--margin-md);
        padding: var(--padding-xxs) 0; 
    }

    .decorated-text-box .hello{
        font-size: var(--fs-small-md);
    }

    .profile-brief .intro{
        font-size: var(--fs-small-lg);
        line-height: var(--lh-xxl);
    }
    
    .profile-brief .intro span{
        font-size: var(--fs-large-sm);

    }
    .profile-action .resume #my-resume{
        font-size: var(--fs-xs);
    }
    
    .profile-action span{
        font-size: var(--fs-small-sm);  
    }
    .profile-action .p-anchor-link{
        font-size: var(--fs-xs);
    }
    .profile-img{
        margin: var(--margin-sm) 0;
        border: 1px solid var(--color-secondary);
        background: var(--color-card);
        border-radius: var(--logo-radius);
    }
    
    .profile-img img{
        border-radius: var(--logo-radius);
        height: var(--margin-sm-profile);
        width: var(--margin-sm-profile);
        object-fit: cover;
        opacity: 0.9;
        mix-blend-mode: multiply;
        filter: grayscale(10%);
    }
}




















