@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
 
.about{
    background: var(--color-secondary);
}

.about-container{
    display: flex;
    flex-direction: column;
    margin: 0 var(--margin-xxl);  
    padding: var(--padding-xl) 0;
}

.about-title{
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-title h1{
    font-weight: var(--fw-bold);
    font-size: var(--fs-medium-lg);
}

.about-title span{
    color: var(--color-highlight);
}

.about-section {
    padding-top: var(--padding-lg);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-xl);
}

.about-section-left i{
    font-size: var(--fs-large-xxxl);
    background: linear-gradient(270deg, var(--color-primary) 50%, var(--color-highlight) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
}

.skill{
    display: flex;
    gap: var(--gap-sm);
    align-items: center;
    transition: 0.5s;
}

.skill p{
    min-width: 140px;
    font-size: var(--fs-small-md);
    font-weight: var(--fw-medium);
    color: var(--color-primary);
}

.skill hr{
    outline: none;
    border: none;
    height: var(--padding-xxxs);
    border-radius: var(--bd-radius);
    background: linear-gradient(265deg,var(--color-primary) -5.09%,var(--color-highlight) 106.28%)
}

.milestones{
    display: flex;
    justify-content: baseline;
    gap: var(--gap-sm);
    margin: var(--margin-md) 0;
}

.milestone{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--gap-xs);
    transition: 0.5s;
}

.milestone h1{
    font-weight: var(--fw-bold);
    font-size:var(--fs-medium-md);
    color: var(--color-highlight);
}

.milestone p{
    font-size: var(--fs-small-md);
    font-weight: var(--fw-medium);
    color: var(--color-primary);
}

.about-action{
    display: flex;
    align-items: center;
    gap: var(--gap-sm);
}

.about-action .download-cv{
    display: flex;
    cursor: pointer;
    border-radius: var(--bd-radius);
    color: var(--color-text);
    cursor: pointer;
    background: var(--color-highlight);
    padding: var(--padding-xxxs) var(--padding-xxs);
}
.about-action .download-cv p{
    font-size: var(--fs-small-md);
    font-weight: var(--fw-medium);
    padding: var(--padding-xxs) var(--padding-sm);
    cursor: pointer;
    background: var(--color-secondary);
    border-radius: var(--bd-radius);
    color: var(--color-primary);
}

.about-action span{
    font-size: var(--fs-small-lg);
    margin-left: var(--margin-xs);
    border-radius: var(--logo-radius);
    padding: var(--padding-xxxs) var(--padding-xs);
    background: var(--color-primary);
    color: var(--color-secondary);
}

.about-action .download-cv:hover{
    transform: scale(1.01);
    transition: 0.5s;
    color: var(--color-primary);
}
.about-action .download-cv:hover p{
    transition: 0.5s;
    color: var(--color-highlight);
}
.about-action .download-cv:hover span{
    transition: 0.5s;
    color: var(--color-highlight);
}
 
.about-action #signature{
    color: var(--color-highlight);
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1;
    margin: 20px 0;
    display: inline-block;
 }

 .skill:hover{
    transform: scale(1.02);
    transition: 0.5s;
 }   
 .milestone:hover{
    transform: scale(1.02);
    transition: 0.5s;
 }
 .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.modal {
    background: var(--color-primary);
    padding: var(--padding-md);
    border-radius: var(--bd-radius-sm);
    max-width: 400px;
}
  
.modal h3{
    color: var(--color-highlight);
    font-weight: var(--fw-medium);
    font-size: var(--fs-large-sm);
    padding: 8px 0;
}

.modal span{
    color: var(--color-secondary);
}

.modal p{
    padding: 4px 0;
    color: var(--color-highlight);
    font-weight: var(--fw-medium);
    font-size: var(--fs-small-md);
}

.modal-buttons {
    display: flex;
    gap: var(--gap-xs);
    margin-top: var(--margin-xs);
}

.modal-buttons button{
    padding: 4px 8px;
    border-radius: 4px;
    color: var(--color-highlight);
    border: 1px solid var(--color-highlight);
}

.modal-buttons button:hover{
    background: var(--color-secondary);
    color: var(--color-highlight);
    border: 1px solid var(--color-primary);
}

@media(min-width:1024px) and (max-width:1260px){
    
    .about-container{
        margin: 0 var(--margin-lg);
        padding: var(--padding-xl) 0;
    }

}

@media(min-width:900px) and (max-width:1024px){

    .about-container{
        margin: 0 var(--margin-lg);
        padding: var(--padding-xl) 0;
    }

    .about-title h1{
        font-size: var(--fs-medium-sm);
    }
    
    .about-section {
        gap: var(--gap-lg);
    }
    
    .skill p{
        min-width: 130px;
        font-size: var(--fs-small-sm);
    }
    
    .milestones{
        display: flex;
        justify-content: baseline;
        gap: var(--gap-sm);
        margin: var(--margin-md) 0;
    }
    
    .milestone h1{
        font-size:var(--fs-medium-sm);
    }
    
    .milestone p{
        font-size: var(--fs-small-sm);
    }

    .about-action .download-cv p{
        font-size: var(--fs-small-sm);
    }
    
    .about-action span{
        font-size: var(--fs-small-md);
    }

}
@media(min-width:600px) and (max-width:900px){

    .about-container{
        margin: 0 var(--margin-lg);
        padding: var(--padding-xl) 0;
    }

    .about-title h1{
        font-size: var(--fs-medium-sm);
    }
    
    .about-section {
        gap: var(--gap-lg);
        flex-direction: column;
        align-items: center;
    }
    .about-section-left i{
        font-size: var(--fs-sm-icon);
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--color-primary) 50%, transparent),
            color-mix(in srgb, var(--color-secondary) 80%, transparent) 80%
          );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .skills{
        display: flex;
        flex-direction: column;
        gap: var(--gap-sm); 
        margin-top: -250px;
    }
   
    
    .skill p{
        min-width: 130px;
        font-size: var(--fs-small-sm);
    }
    
    .milestones{
        display: flex;
        justify-content: baseline;
        gap: var(--gap-sm);
        margin: var(--margin-md) 0;
    }
    
    .milestone h1{
        color: var(--color-primary);
        font-size:var(--fs-medium-sm);
    }
    
    .milestone p{
        font-size: var(--fs-small-sm);
    }

    .about-action .download-cv p{
        font-size: var(--fs-small-sm);
    }
    
    .about-action span{
        font-size: var(--fs-small-md);
    }
    
}

@media(max-width:600px){

    .about-container{
        margin: 0 var(--margin-md);
        padding: var(--padding-xl) 0;
    }

    .about-title h1{
        font-size: var(--fs-medium-sm);
    }
    
    .about-section {
        gap: var(--gap-lg);
        flex-direction: column;
        align-items: center;
    }
    .about-section-left i{
        font-size: var(--fs-sm-icon);
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--color-primary) 50%, transparent),
            color-mix(in srgb, var(--color-secondary) 80%, transparent) 80%
          );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .skills{
        display: flex;
        flex-direction: column;
        gap: var(--gap-sm); 
        margin-top: -250px;
    }
    
    .skill p{
        min-width: 130px;
        font-size: var(--fs-small-sm);
    }
    
    .milestones{
        text-align: center;
        display: flex;
        justify-content: baseline;
        gap: var(--gap-sm);
        margin: var(--margin-md) 0;
    }
    
    .milestone h1{
        color: var(--color-primary);
        font-size:var(--fs-medium-sm);
    }
    
    .milestone p{
        font-size: var(--fs-small-sm);
    }

    .about-action .download-cv p{
        font-size: var(--fs-small-sm);
    }
    
    .about-action span{
        font-size: var(--fs-small-md);
    }
}

    

