.introduction{
    background: var(--color-card);
}

.intro-container{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 0 var(--margin-xxl);  
    padding: var(--padding-xl) 0;
}

.introduction-brief{
    flex-basis: 50%;
}

.introduction h1 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-large-xxl);
    background: linear-gradient(270deg, var(--color-highlight) 20%, var(--color-secondary) 90%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

.introduction-brief p{ 
    width: 500px;
    padding: var(--padding-sm) 0;
    font-size: var(--fs-small-md);
    line-height: var(--lh-xl);
    font-weight: var(--fw-medium);
}

.introduction i{   
   flex-basis: 50%;
   font-size: var(--fs-large-xxxl);
   background: linear-gradient(270deg, var(--color-highlight) 50%, var(--color-secondary) 80%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

@media(min-width:900px) and (max-width:1024px){

    .intro-container{
        margin: 0 var(--margin-lg);
        padding: var(--padding-xl) 0;
    }
    
    .introduction h1 {
        font-size: var(--fs-large-xl);
    }

    .introduction-brief p{ 
        width: 450px;
        font-size: var(--fs-small-sm);
    }
    
    .introduction i{
       font-size: var(--fs-large-xxxl);
    }
}

@media(min-width:600px) and (max-width:900px){

    .intro-container{
        margin: 0 var(--margin-lg);
        flex-direction: column-reverse;
        align-items: center;
    }

    .introduction h1 {
        font-size: var(--fs-large-xl);
    }
    
    .introduction-brief{
        align-items: center;
        margin-top: -260px;
    }
    
    .introduction-brief p{ 
        width: 400px;
        font-size: var(--fs-small-sm);
        line-height: var(--lh-xl);
    }
    
    .introduction i{
        margin-top: 100px;
        font-size: var(--fs-sm-icon);
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--color-highlight) 50%, transparent),
            color-mix(in srgb, var(--color-secondary) 80%, transparent) 90%
          );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    

}
}

@media(max-width:600px){

    .intro-container{
        margin: 0 var(--margin-md);
        flex-direction: column-reverse;
        align-items: center;
    }
    .introduction-brief{
        align-items: center;
        margin-top: -250px;
        margin-bottom: 30px;
    }
    
    .introduction h1 {
        font-size: var(--fs-large-xl);
    }

    .introduction-brief p{ 
        width: 320px;
        font-size: var(--fs-small-sm);
    }
    
    .introduction i{
        margin-top: 100px;
        font-size: var(--fs-xs-icon);
        background: linear-gradient(
            270deg,
            color-mix(in srgb, var(--color-highlight) 50%, transparent),
            color-mix(in srgb, var(--color-secondary) 80%, transparent) 90%
          );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}





