.footer{
    background: var(--color-card);
}

.footer-container{
    display: flex;
    flex-direction: column;
    margin: 0 var(--margin-xxl);  
    padding: var(--padding-xl) 0;
}

.footer-title{
   display: flex;
   flex-direction: column;
}

.footer-title p{
    font-weight: var(--fw-bold); 
    font-size: var(--fs-large-xl);
}

.footer-title #footer-txt{
    font-weight: var(--fw-medium);
    font-style: italic;
    color: var(--color-highlight);
}

#underline{
    margin: var(--margin-md) 0;
    width: 100%;
    outline: none;
    border: none;
    height: 1px;
    background: rgb(200, 192, 192);
}

.footer-detail{
    display: flex;
    gap: var(--gap-md);
    justify-content: center;
}

.section-1{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section-1 h3{
    padding: var(--padding-sm) 0;
    color: var(--color-text);
}

.section-1 p{
    padding: var(--padding-xs) 0;
    color: var(--color-footer-text);
    font-size: var(--fs-small-md);
    line-height: var(--lh-lg);
}

.social-icons{
    padding: var(--padding-xs) 0;
    display: flex;
    gap: var(--gap-sm);
}
.social-icons i{
    font-size: var(--fs-small-md);
    padding: var(--padding-xs);
    background: var(--color-highlight);
    color: var(--color-secondary);
    border-radius: var(--logo-radius);
}

.social-icons i:hover{
    transition: 0.5s;
    color: var(--color-primary);
}

.section-2{
    flex-basis: 25%;
    display: flex;
    padding: 0 var(--padding-lg);
    flex-direction: column;
}

#navigation{
    font-size: var(--fs-medium-md);
    font-weight: var(--fw-medium);
    color: var(--color-highlight);
    padding: var(--padding-xs) 0;
}
.section-2 ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section-2 ul li{
    padding: var(--padding-xs) 0;
    list-style: none;
}

.section-2 ul li .footer-anchor{
    text-decoration: none;
    color: var(--color-footer-text);
}

.section-2 li::after{
    cursor: pointer;
    content: '';
    width: 0%;
    background: var(--color-footer-text);
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.section-2 li:hover::after{
    width: 100%;
}


.section-3{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
}

#contact{
    padding: var(--padding-xs) 0;
    font-size: var(--fs-medium-md);
    font-weight: var(--fw-medium);
    color: var(--color-highlight);
}

.section-3 ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.section-3 ul li{
    padding: var(--padding-xs) 0;
    list-style: none;
    color: var(--color-footer-text);
}

.section-3 a{
    text-decoration: none;
    color: var(--color-footer-text);
}

.section-3 a::after{
    cursor: pointer;
    content: '';
    width: 0%;
    background: var(--color-footer-text);
    height: 2px;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.section-3 a:hover::after{
    width: 100%;
}

.section-4{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#info{
    padding: var(--padding-xs) 0;
    font-size: var(--fs-medium-md);
    font-weight: 500;
    color: var(--color-highlight);
}

.user-email{
    display: flex;
    border-radius: var(--bd-radius-sm);
    background: var(--color-primary);
    align-items: center;
}

.user-email i{
    color: var(--color-footer-text);
    padding-left: var(--margin-sm);
    font-size: var(--fs-small-md);
}
.user-email input{
    outline: none;
    border: none;
    font-size: var(--fs-small-md);
    border-radius: var(--bd-radius-sm);
    padding: var(--padding-xs) var(--padding-xs);
    color: var(--color-footer-text);
    background-color: var(--color-input-bg); /* White with 30% opacity */
    
}

.user-email .sent-email{
    background: var(--color-secondary);
    border-radius: var(--bd-radius-sm);
    padding: var(--padding-xs) var(--padding-sm);
    border:1px solid var(--color-highlight);
    cursor: pointer;
}

.user-email #email-sent{
    cursor: pointer;
    filter: var(--filter-highlight);
    width: var(--fs-small-md);
    padding-top: 3px;
}

.user-email #email-sent:hover{
    filter: brightness(0) invert(1);
}
.section-footer{
    background: var(--color-secondary);
}

.section-footer p{
    margin: 0 var(--margin-xxl);  
    padding: var(--padding-md) 0;
    font-size: var(--fs-small-md);
    font-weight: var(--fw-medium);
    color: var(--color-primary);
}
.section-footer #name{
    color: var(--color-highlight);
}
    /* Alert message styling */
.alert {
        padding: 10px 0px;
        border-radius: 4px;
        font-size: 16px; /* Adjust size as needed */
        font-weight: 500;
        text-align: center;
        transition: all 0.3s ease;
}
#footer-email:-webkit-autofill {
    border: 1px solid var(--color-primary);
    outline: none;
    box-shadow: 0 0 0 1000px var(--color-primary) inset !important;
    -webkit-text-fill-color: var(--color-text); /* Change text color */
}

.input::placeholder {
    font-weight: var(--fw-bold);
    color: rgba(255, 255, 255, 0.3); /* normal placeholder color */
  }

 .error-mail-footer::placeholder{
    font-weight: var(--fw-bold);
    color: var(--color-error); /* red or any error color */
  }

.alert-message {
    padding: var(--padding-xs) var(--padding-sm);
    font-size: var(--fs-small-md); /* Adjust size as needed */
    font-weight: var(--fw-medium);
    text-align: start;
    transition: all 0.3s ease;
    }
  
.alert-message.success {
    color: var(--color-success);
}
.alert-message.error {
    color: var(--color-error);
}

@media(min-width:768px) and (max-width:1260px){

    .footer-container{
        margin: 0 var(--margin-lg);
    }

    .footer-title{
        align-items: center;
    }
  
    .footer-detail{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gap-md);
    }
    
    .section-footer p{
        margin: 0 var(--margin-lg); 
        padding: var(--padding-md) 0;
    }
}

@media(max-width:768px){

    .footer-container{
        margin: 0 var(--margin-md);
    }
    .footer-title{
        align-items: center;
    }

    .footer-title p{
        font-size: var(--fs-large-md);
    }

    #underline{
        margin: 40px 0;
        width: 100%;
        outline: none;
        border: none;
        height: 1px;
        background: rgb(200, 192, 192);
    }
    
    .footer-detail{
        display: flex;
        gap: var(--gap-md);
        flex-direction: column;
        justify-content: center;
    }
    
    .section-1{
        align-items: center;
    }
    
    .social-icons i{
        font-size: var(--fs-small-sm);
    }
    
    .section-2{
        align-items: center;
    }

    #navigation{
        font-size: var(--fs-small-lg);
    }

    .section-2 ul{
        align-items: center;
    }
    .section-2 ul li{
        font-size: var(--fs-small-sm);
    }
    
    .section-3{
       align-items: center;
    }
    #contact{
        font-size: var(--fs-small-lg);
    }
    
    .section-3 ul{
        align-items: center;
      
    }
    .section-3 ul li{
        padding: 8px 0;
        list-style: none;
        color: rgb(115, 108, 108);
        font-size: var(--fs-small-sm);
    }
    
    
    .section-4{
        align-items: center;
    }
    
    #info{
        font-size: var(--fs-medium-sm);
    }
    
    .user-email i{
        font-size: var(--fs-small-sm);
    }
    .user-email input{
        font-size: var(--fs-xs);
    }
    
    .section-footer{
        background: var(--color-secondary);
    }
    
    .section-footer p{
        margin: 0 50px; ;
        padding: 20px 0;
        font-size: var(--fs-small-sm);
        font-weight: 500;
        color: var(--color-primary);
    }
    .section-footer #name{
        color: var(--color-highlight);
    }
}

